
.accueil{
    text-align: center;
    padding-top: 100px;
}

.souhait{
    color: #ff9800;
    font-size: 16px;
}

.couleur {
    color: white;
    font-size: 24px;
}
 .couleur2{
        color: white;
        font-size: 14px;
}
 .couleur3{
        color: #ff9800;
        font-size: 14px;
        background-color:wheat;
}
.valide{
    padding-top: 100px;
}
